.s-title {
  color: var(--color-second);
  font-size: torem(26);
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: torem(16);
}

.s-description {
  color: var(--color-second);
  font-size: torem(16);
  line-height: 130%;
  margin-bottom: torem(12);
}

