.s-title {
  margin-bottom: torem(16);
  color: var(--color-second);
  font-size: torem(26);
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
}

.s-description {
  margin-bottom: torem(12);
  color: var(--color-second);
  font-size: torem(16);
  line-height: 130%;
}
