/* stylelint-disable */
.s-header {
  padding: var(--a-padding-x2) 0;
  background: var(--color-main);
  // border-bottom: torem(1) solid var(--color-grey);
  @include _992 {
    padding: var(--a-padding-x8) 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: torem(15);
    svg {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      max-height: torem(32);
      @include _992 {
        max-height: torem(64);
      }
    }
  }

  &__logic {
    display: flex;
    align-items: center;
  }

  &__theme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: torem(25);
    height: torem(25);
    margin-right: torem(8);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      svg {
        transform: rotate(90deg);
      }
    }

    svg {
      transition: 0.3s;

      path {
        fill: var(--color-second);
      }
    }
  }

  &__login {
    width: torem(28);
    height: torem(28);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__link {
    width: torem(26);
    height: torem(26);
    margin-right: torem(4);
    background: transparent;
    border: none;
    outline: none;
    opacity: 0.1;
    cursor: default;
    user-select: none;
    pointer-events: none;
    transition: 0.3s;

    &-active {
      opacity: 1;
      cursor: pointer;
      user-select: unset;
      pointer-events: unset;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    @include _992 {
      display: none;
    }
    .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 0.5s;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .hamRotate.active {
      transform: rotate(45deg);
    }
    .hamRotate180.active {
      transform: rotate(180deg);
    }
    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: var(--color-second);
      stroke-width: 6.5;
      stroke-linecap: round;
    }
    .hamR .top {
      stroke-dasharray: 40 121;
    }
    .hamR .bottom {
      stroke-dasharray: 40 121;
    }
    .hamR.active .top {
      stroke-dashoffset: -68px;
    }
    .hamR.active .bottom {
      stroke-dashoffset: -68px;
    }
  }
  &__nav {
    position: fixed;
    width: 100%;
    background: var(--color-main);
    top: torem(50);
    left: 0;
    z-index: 10;
    height: torem(0);
    transition: 0.3s ease-out;
    overflow: hidden;
    border-radius: 0 0 torem(32) torem(32);
    @include _992 {
      position: static;
      height: auto;
      border-radius: unset;
      background: transparent;
    }
    &-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include _992 {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
      }
    }
    &.active {
      height: torem(192);
      padding-top: torem(32);
      @include _992 {
        padding: 0;
        height: auto;
      }
    }
    &-item {
      position: relative;
      font-size: torem(16);
      font-weight: 600;
      padding: torem(10);
      width: 100%;
      text-align: center;
      color: var(--color-second);
      cursor: pointer;
      @include _992 {
        padding: 0;
        width: auto;
        font-weight: 400;
        margin-left: torem(32);
        &:after {
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background: linear-gradient(
            90deg,
            rgba(131, 58, 180, 1) 0%,
            rgba(253, 29, 29, 1) 50%,
            rgba(252, 176, 69, 1) 100%
          );
          content: '';
          transition: width 0.5s;
        }
        &:hover {
          &:after {
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            background: linear-gradient(
              90deg,
              rgba(131, 58, 180, 1) 0%,
              rgba(253, 29, 29, 1) 50%,
              rgba(252, 176, 69, 1) 100%
            );
            content: '';
            transition: width 0.5s;
          }
        }
      }
      @include _1440 {
        font-size: torem(20);
      }
      &:not(:last-child) {
        &:before {
          content: '';
          width: torem(32);
          height: 1px;
          background: var(--color-second);
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0.2;
          @include _992 {
            display: none;
          }
        }
      }
    }
  }
}
/* stylelint-enable */
