/* stylelint-disable no-descending-specificity */

.s-auth {
  width: 100%;
  color: var(--color-second);
  padding: torem(60) 0;
    @include _1440 {
    padding: torem(120) 0;
  }
  &__title{
    font-size: torem(24);
    line-height: 135%;
    font-weight: 600;
    text-align: center;
    color: var(--color-second);
    margin-bottom: torem(16);
    @include _768 {
      font-size: torem(28);
    }
  }
  &__formbox{
    text-align: center;
    max-width: torem(420);
    margin: torem(24) auto 0;
  }
  &__form{
    display: flex;
    flex-direction: column;
    border: torem(1) solid var(--color-grey);
    padding: var(--a-padding-x2);
    border-radius: var(--border-radius-x1);
    &-input{
      border: none;
      border-bottom: torem(1) solid var(--color-grey);
      // border-radius: var(--border-radius-x1);
      background: transparent;
      width: 100%;
      min-height: torem(40);
      font-size: torem(16);
      font-weight: 600;
      color: var(--color-second);
      margin-bottom: torem(10);
      padding: 0 torem(8);
    }
    &-button{
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: torem(46);
      border: none;
      outline: none;
      font-size: torem(14);
      font-weight: 600;
      color: var(--color-black);
      background: var(--color-orange);
      border-radius: var(--border-radius-x1);
    }
    &-error{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: torem(46);
      font-size: torem(14);
      font-weight: 600;
      color: var(--color-main);
      background: var(--color-error);
      border-radius: var(--border-radius-x1);
      margin: torem(8) auto 0;
      user-select: none;
    }
  }
  &__text{
    display: block;
    margin: 1rem auto;
    font-size: torem(16);
  }
  &__button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: torem(40);
    border: none;
    outline: none;
    font-size: torem(14);
    font-weight: 600;
    color: var(--color-main);
    background: var(--color-grey);
    border-radius: var(--border-radius-x1);
  }
  &__help{
    display: block;
    margin: 2rem auto 0;
    font-size: torem(14);
    &-bold{
      font-weight: 800;
    }
  }
}
/* stylelint-enable no-descending-specificity */
