

.s-lk {
  background: var(--color-main);
  color: var(--color-second);
  padding: torem(60) 0;
  @include _1440 {
    padding: torem(120) 0;
  }
  &__title {
    text-align: center;
  }
  &__box {
    margin-top: torem(48);
  }
  &__user{
    box-shadow: 0 0 torem(5) #6a6a6a;
    border-radius: var(--border-radius-x1);
    padding: var(--a-padding-x6) var(--a-padding-x3);
    @include _768 {
      padding: var(--a-padding-x6);
    }
    &-wrapper{
      @include _768 {
        max-width: 450px;
        margin: 0 auto;
      }
    }
    &-button{
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: torem(150);
      min-height: torem(42);
      border: none;
      outline: none;
      font-weight: 600;
      border-radius: var(--border-radius-x2);
      transition: .2s;
      background: var(--color-orange);
      color: var(--color-white);
      margin: torem(25) auto ;
    }
    &-item{
      background: #eee;
      padding: var(--a-padding-x3);
      border-radius: var(--border-radius-x1);
      &:not(:last-child) {
        margin-bottom: torem(8);
      }
      &-label{
        color: var(--color-black);
      }
      &-wrapper{
        margin-top: torem(8);
      }
      &-color{
        cursor: pointer;
      }
    }
  }
}
