.s-header {
  padding: var(--a-padding-x1) 0;
  background: var(--color-main);
  border-bottom: torem(1) solid var(--color-grey);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: torem(15);
    color: var(--color-second);
    font-size: torem(20);
    font-weight: 900;
    text-transform: uppercase;
  }

  &__logic {
    display: flex;
    align-items: center;
  }

  &__theme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: torem(25);
    height: torem(25);
    margin-right: torem(8);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      svg {
        transform: rotate(90deg);
      }
    }

    svg {
      transition: 0.3s;

      path {
        fill: var(--color-second);
      }
    }
  }

  &__login {
    width: torem(28);
    height: torem(28);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__link {
    width: torem(26);
    height: torem(26);
    margin-right: torem(4);
    background: transparent;
    border: none;
    outline: none;
    opacity: 0.1;
    cursor: default;
    user-select: none;
    pointer-events: none;
    transition: 0.3s;

    &-active {
      opacity: 1;
      cursor: pointer;
      user-select: unset;
      pointer-events: unset;
    }
  }
}
