.s-cats {
  background: var(--color-main);
  color: var(--color-second);
  padding: torem(60) 0;
  @include _1440 {
    padding: torem(120) 0;
  }
  &__container{
    transition: .3s;
    display: grid;
    grid-template-columns: 1fr;
    @include _768 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: torem(30);
    }
    @include _1440 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: torem(60);
      align-items: flex-start;
    }
  }
}
